@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');

:root {
  --gunmental-gray: #131c2c;
  --gunmental: #081121;
  --gunmental-shadow: #0811214b;
  --antiquewhite: #fff5e9;
  --persiangreen: #234F95;
  --aquamarine: #277AFF;
  --aquamarine-shadow: #277AFFa8;
  --mint: #66C3FF;
  --coquelicot: #F34213;
  --aqua-fade: linear-gradient(180deg, var(--aquamarine), var(--persiangreen));

  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: var(--antiquewhite);
  background-color: var(--gunmental);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body,
div#root {
  margin: 0;
  overflow-x: hidden;
  width: 100%;
  max-width: 100vw;
  min-height: 100vh;
}

button {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
}